.slides {
    width: 600px;
    height: 480px;

    overflow: hidden;

    transition: .2s;

    display: flex;
}

input {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 240px;
    cursor: pointer;
}


.left {
    left: 10px;
}

.right {
    left: 565px;
}


/*
.right::before,
.left::before {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 240px;
    display: inline-block;
    cursor: pointer;
}

.right::before {
    content: ">";
    left: 560px;
}

.left::before {
    content: "<";
    left: 40px;
}
*/
