.slides {
    width: 600px;
    height: 480px;

    overflow: hidden;

    transition: .2s;

    display: flex;
}

.right,
.left {
    position: absolute;
    top: 240px;
    cursor: pointer;
}

.right {
    left: 560px;
}

.left {
    left: 25px;
}

span {
    font-size: 40px;
    color: white;
}

span:hover {
    color: red;
}
