div.col-3
    nav
        ul(class="nav flex-column")

            -
            each item in navItems
                li.nav-item
                    a(class="nav-link" href= item.href)= item.name

        ul(class="nav flex-column pl-3") Pages:

            -
            each item in pages
                li.nav-item
                    a(class="nav-link" href= '/page/' + item.id + '.html')= item.name
