div(class="col-3")
    nav
        ul(class="nav flex-column")

            -
                var paragraphs = [
                    {
                        class_li: 'nav-item',
                        class_a: 'nav-link',
                        content: 'Home'
                    },
                    {
                        class_li: 'nav-item',
                        class_a: 'nav-link',
                        content: 'Other'
                    },
                    ];

            each item in paragraphs
                li(class=item.class_li)
                    a(class=item.class_a href='/' + item.content + '.html')= item.content


