div.col-9
    mixin divCol(index)
        div(class="col mt-2")
            h2(class="col")= pages[index].name
            div(class="col")= pages[index].previewContent
                a(class="badge" href= '/page/' + pages[index].id + '.html') ...

    +divCol(0)
    +divCol(1)
    +divCol(2)