doctype html
html
    head
        meta(charset="UTF-8")
        title Home work 13
        link(rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css")
    body
        div(class="container")
            block navbar
        script(src="./node_modules/jquery/dist/jquery.js")
        script(src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js")

