extends ./_template.pug

block navbar
    nav(class="navbar navbar-expand navbar-light bg-light")
        a(class="navbar-brand") HW 13
        div(class="navbar-nav navbar-expand mr-auto")
            a(class="nav-item nav-link" href="/")
            a(class="nav-item nav-link" href="/other.html") Other

