extends ./_template.pug

block head
    title home

block header
    h1 Home

block navigation
    p Navigation: 
        a(href="./index.html") home
        span 
        a(href="./about.html") about
    hr
    p
        -
            var paragraphs = [
                {
                    id: 'p1',
                    header: 'Paragraph 1',
                    content: 'Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.'
                },
                {
                    id: 'p2',
                    header: 'Paragraph 2',
                    content: 'Контента, просмотра шрифтов, абзацев, отступов и зла средневековый книгопечатник вырвал. Применили в книгопечатании еще в книгопечатании еще в качестве. Применили в книгопечатании еще. Широко используемый и т.д еще в длине наиболее. Именно из его применили в книгопечатании еще в различных. Используемый и зла средневековый книгопечатник вырвал отдельные фразы и т.д веб-дизайнерами. Появляется возможность получить более того, есть специальные генераторы, создающие собственные варианты.'
                },
                {
                    id: 'p3',
                    header: 'Paragraph 3',
                    content: 'Нечитабельность текста исключительно демонстрационная, то и на кириллице значительно. Этот, несмотря на кириллице значительно различается считается. К обитателям водоемов такое текст-рыба. Генераторы, создающие собственные варианты текста сыграет на кириллический. Широко используемый и проектах, ориентированных на интернет-страницы. Несколько вариантов lorem ipsum. Внешнего вида контента, просмотра шрифтов, абзацев, отступов и смысловую нагрузку ему нести. Несколько вариантов lorem ipsum на кириллический контент – написание символов на сайтах.'
                },
                {
                    id: 'p4',
                    header: 'Paragraph 4',
                    content: 'Текст на сайтах и даже с языками, использующими латинский алфавит могут. Получить более длинный неповторяющийся набор. Рыбным текстом является знаменитый lorem ipsum на латыни. Смысловую нагрузку ему нести совсем необязательно кириллический контент – написание символов. Является знаменитый lorem ipsum обязан древнеримскому. Из его трактата о пределах добра и по сей день. Небольшие проблемы: в xvi веке еще в различных языках те.'
                },
                {
                    id: 'p5',
                    header: 'Paragraph 5',
                    content: 'Собственные варианты текста исключительно демонстрационная, то и проектах ориентированных. Восприятия макета вывод, что впервые. Наиболее распространенных слов запуске проекта цицерону, ведь именно из его применили. Впервые его применили в качестве рыбы текст. Использующими латинский алфавит, могут возникнуть. Нести совсем необязательно вырвал отдельные фразы и зла средневековый книгопечатник вырвал. Конечно, возникают некоторые вопросы, связанные с разной частотой, имеется разница.'
                },
                {
                    id: 'p6',
                    header: 'Paragraph 6',
                    content: 'Существует несколько вариантов lorem ipsum на интернет-страницы и даже. Восприятия макета алфавит, могут возникнуть небольшие проблемы: в длине наиболее распространенных. Ему нести совсем необязательно получив текст-рыбу, широко используемый и смысловую нагрузку. – написание символов на сайтах. Философу цицерону, ведь именно из его трактата. Контента, просмотра шрифтов, абзацев, отступов. Несмотря на основе оригинального трактата, благодаря чему появляется возможность получить более того.'
                }
            ];

        each paragraph in paragraphs
            a(href='#' + paragraph.id)= paragraph.header
            span 

block content
    each paragraph in paragraphs
        include ./_paragraph.pug
        
            hr

block footer
    a(href="./index.html") Up
    span 
    a(href="./about.html#other") About other
