.container {
    width: 100px;
    height: 200px;

    border-style: solid;
    border-color: #aaa;
    border-width: 1px;

    display: flex;
    flex-direction: column;
}

.container__select {
    height: 25px;
    width: 100%;
}


.container__content {
    flex-grow: 1;
}

.container__content > * {
    display: none;
}

/*стили для выбранное вкладки*/
.container__content > .container__conten_current {
    display: block;
}
